<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="VPNWatcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="uTorrentControlEnabled" value="false" />
    <add key="uTorrentUrl" value="http://localhost:23168/gui" />
    <add key="uTorrentUsername" value="halfmonty" />
    <add key="uTorrentPassword" value="" />
    <add key="uTorrentStop" value="true" />
    <add key="TimerInMilliSeconds" value="2000" />
    <add key="ChosenActionIndex" value="0" />
    <add key="ConsoleMaxSize" value="10000" />
    <add key="Applications" value="firefox" />
    <add key="IgnoreIPV6" value="true" />
    <add key="StartMinimized" value="false" />
    <add key="VPNInterfaceID" value="" />
    <add key="VPNInterfaceName" value="" />
    <add key="DebugMode" value="false" />
    <add key="StrictInterfaceHandling" value="false" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <VPNWatcher.Properties.Settings>
      <setting name="uTorrentControlEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="uTorrentUrl" serializeAs="String">
        <value>http://localhost:23168/gui</value>
      </setting>
      <setting name="uTorrentUsername" serializeAs="String">
        <value>halfmonty</value>
      </setting>
      <setting name="uTorrentPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="uTorrentStop" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TimerInMilliSeconds" serializeAs="String">
        <value>2000</value>
      </setting>
      <setting name="ChosenActionIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ConsoleMaxSize" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="Applications" serializeAs="String">
        <value>firefox</value>
      </setting>
      <setting name="IgnoreIPV6" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="StartMinimized" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="VPNInterfaceID" serializeAs="String">
        <value />
      </setting>
      <setting name="VPNInterfaceName" serializeAs="String">
        <value />
      </setting>
      <setting name="DebugMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="StrictInterfaceHandling" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="uTorrentPause" serializeAs="String">
        <value>True</value>
      </setting>
    </VPNWatcher.Properties.Settings>
  </userSettings>
</configuration>